<app-filters-and-search [tabTitle]="'Marcas de veiculos'" (eventSearch)="getBrandSearch($event)"></app-filters-and-search>

<nz-row class="new-type" nzJustify="end">
    <button nzSize="large" nzType="primary" nzShape="round" routerLink="/brand/form" nz-button [disabled]="!this.writeBrands">Nova marca de veiculo</button>
</nz-row>

<nz-row [nzGutter]="[24, 24]" class="items">
    <nz-col nzLg="12" nzMd="24" nzSm="24" nzXs="24" *ngFor="let brandItem of brandsList" (click)="goToModels(brandItem)">
        <nz-row class="item-type-content" nzJustify="center" nzAlign="middle">
            <h3 nz-typography>
                {{ brandItem.name }}
                <button nz-button nzSize="large" (click)="editItem(brandItem)">
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                    Editar
                </button>
            </h3> 
        </nz-row>
    </nz-col>
</nz-row>
