<app-form-component
    [formTitle]="'Cadastrar novo tipo de veículo'"
    [validateForm]="validateForm"
    (validForm)="validInput($event)"
>
    <div nz-row formData [formGroup]="validateForm">
        <nz-form-item nz-col nzSpan="24">
            <nz-form-label nz-col nzRequired>Tipo de veículo</nz-form-label>
            <nz-form-control>
                <input nz-input 
                    formControlName="name"
                    nz-col 
                    nzSize="large" 
                    nzSpan="24" 
                    placeholder="Preencha com o tipo de veículo a ser inserido"/>
            </nz-form-control>
        </nz-form-item>
    </div>
</app-form-component>