<main>
    <app-form-component
            [formTitle]=" 'SEAGRI - LOGIN'"
            [validateForm]="validateForm"
            (validForm)="submit($event)"
            [loginButton]="true"
    >
    <nz-row formData>
        <div nz-col nzSpan="24" class="forms-data" [formGroup]="validateForm">
            <div class="main">
                <div class="left-login">
                    <img src="../assets/imagens/governo_do_acre.png" class="left-login-image" alt="logo">
                </div>
                <div class="right-login">
                    <div nz-row class="card-login">
                        <nz-form-item nz-col nzSpan="24" class="two-col-form">
                            <nz-form-label nz-col>Nome de usuário</nz-form-label>
                            <nz-form-control>
                                <input nz-input nz-col nzSpan="24" formControlName="userName" placeholder="Usuário"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col nzSpan="24" class="two-col-form">
                            <nz-form-label nz-col>Senha</nz-form-label>
                            <nz-form-control>
                                <input nz-input nz-col nzSpan="24" type="password" formControlName="password" placeholder="Senha"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </div>
    </nz-row>

</app-form-component>
