<div class="main">
    <div class="boxs">
        <div class="box-container">
            <div class="box">
                <div class="box-img">
                    <img src="..\assets\imagens\car1.png">
                </div>
                <div class="box-info1">
                    <ul>
                        <li><span class="label">Modelo:</span> <span class="value">S10</span></li>
                        <li><span class="label">Placa:</span> <span class="value">FGH5J67</span></li>
                        <li><span class="label">Cor:</span> <span class="value">Branco</span></li>
                        <li><span class="label">Ano aquisição:</span> <span class="value">18.07.2021</span></li>
                        <li><span class="label">Ano de Fabricação:</span> <span class="value">10.02.2021</span></li>
                    </ul>
                </div>
                <div class="vertical-line"></div> 
                <div class="box-info2">
                    <ul>
                        <li><span class="label">Kilometragem:</span> <span class="value">18.863</span></li>
                        <li><span class="label">Status:</span> <span class="value2">Disponível</span></li>
                        <li><span class="label">RENAVAM:</span> <span class="value2">Válida</span></li>
                    </ul>
                </div>
                <div class="box-edit">
                    <a><img src="..\assets\imagens\icon2.svg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="title">
            <h3>Histórico</h3>
        </div>
        <div>
            <div class="filters">
                Abastecimentos
            </div>
            <div class="filters">
                Revisões
            </div>
            <div class="filters">
                Manutenções
            </div>
            <div class="filters">
                Viagens
            </div>
        </div>
        <div id="drop">
            <div id="dropdown">
                <a href="javascript:void(0)">
                    Data Início
                    <span>&#9660;</span>
                </a>
                <div id="dropdown_menu">
                        <a>Carros</a>
                        <a>Onibus</a>
                        <a>Capivaras</a>
                </div>
            </div >
            <div id="dropdown">
                <a href="javascript:void(0)">
                    Data Final
                    <span>&#9660;</span>
                </a>
                <div id="dropdown_menu">
                        <a>Ativos</a>
                        <a>Leiloados</a>
                        <a>Em viagem</a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="boxs">
        <div class="box-container">
            <div class="box2">
                <div class="box-svg">
                    <img src="..\assets\imagens\fuel.svg">
                </div>
                <div class="box-info1f">
                    <ul>
                        <li><span id="title">Abastecimento</span></li>
                        <li><span class="label">Data:</span> <span class="value">20.12.2023</span></li>
                        <li><span class="label">Hora:</span> <span class="value">10:00:00</span></li>
                    </ul>
                </div>
                <div class="vertical-line2"></div>
                <div class="box-info2f">
                    <ul>
                        <li><span class="label">Valor:</span> <span class="value">100.00</span></li>
                        <li><span class="label">Litros:</span> <span class="value">15L</span></li>
                    </ul>
                </div>
            </div>
            <div class="box2">
                <div class="box-svg2">
                    <img src="..\assets\imagens\review.svg">
                </div>
                <div class="box-info1f">
                    <ul>
                        <li><span id="title">Revisão</span></li>
                        <li><span class="label">Data:</span> <span class="value">20.12.2023</span></li>
                        <li><span class="label">Hora:</span> <span class="value">10:00:00</span></li>
                    </ul>
                </div>
                <div class="vertical-line2"></div>
                <div class="box-info2f">
                    <ul>
                        <li><span class="label">Valor:</span> <span class="value">300.00</span></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>