.new-type {
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.items {
    
    .item-type-content {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        min-height: 25vh;
        background-color: white;
        border-radius: 16px;
        text-align: center;
        :is(button) {
            border: 0px;
        }
        /* border: 1px solid #e0e0e0; */


    }

    .item-type-content:hover {
        transition: 0.4s; 
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        cursor: pointer;
    }
}
