<nz-row class="content">
    <nz-row class="vehicle">
        <nz-row id="title">
            <nz-col nzSpan="24">
                <h2 nz-typography>Veiculos</h2>
            </nz-col>
        </nz-row>
        <nz-row id="pages-buttons">
            <nz-col nzSpan="6">
                <button routerLink="/vehicle-type" nz-button>Tipos de veiculos</button>
            </nz-col>
            <nz-col nzSpan="6">
                <button routerLink="/vehicle-model" nz-button>Modelos de veiculos</button>
            </nz-col>
            <nz-col nzSpan="6">
                <button routerLink="/brand" nz-button>Marcas de veiculos</button>
            </nz-col>
        </nz-row>
    </nz-row>
    <nz-row>
        <nz-col>

        </nz-col>
    </nz-row>
</nz-row>